$head-color: #ffffff;
$bg-color: #f8f8f8;
$btn-color: #ff8b00;
$btn-hover-color: #ffa539;
$text-color: #7050e5;
$text-descr-color: #878787;
$footer-color: #363636;
$footer-bot-color: #252525;
$text-footer-color: #9b9b9b;
$twitter-bg-color: #5634d1;
$twitter-text-color: #f7f7f7;
$overlay-color: rgba(0, 0, 0, 0.7);