$proxima-bold-font: 'Proxima Nova-Bold', sans-serif;
$proxima-regular-font: 'Proxima Nova-Regular ', sans-serif;
$releway-font: 'Raleway', sans-serif;
$releway-sbold-font: 'Raleway - Semi Bold', sans-serif;
$myriad-font: 'Myriad Pro', sans-serif;

$content-size: 1192px;
$content-size-wide: 1366px;