@font-face {
  font-family: 'Proxima Nova-Bold';
  src: url("../assets/fonts/ProximaNova-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Proxima Nova-Regular';
  src: url("../assets/fonts/ProximaNova-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Raleway';
  src: url("../assets/fonts/Raleway-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Raleway - Semi Bold';
  src: url("../assets/fonts/Raleway-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: 'Myriad Pro';
  src: url("../assets/fonts/MyriadPro-Regular.ttf") format("truetype");
}